body {font-family: arial;}

caption {
	padding: 10px;
	font-weight: 900;
	text-align: center;
	}  
    
h1 {text-align: center;}
	  
table {text-align: center;}

#table-header {
	background-color: rgb(191, 186, 186)
	width: 75;
	height: 75;
	}

	  
th {
	border: 1px solid;
	padding: 10px 20px;
	text-align: center;
	background-color: rgb(191, 186, 186)
    }
    

td {
    text-align: center;
    border: 1px solid;
    padding: 10px 20px;
    background-color: rgb(233, 234, 232)
    }
    

